<div class="container">
  <h1>Welcome to Chairman Meow's URL Communiser!!</h1>
  <p>Hello, world!</p>

  <table>
    <tr>
      Welcome to the URL shortener! It makes your crazy URLs very small.
    </tr>
  </table>

  <form action="/">
    <input type="text" name="full_url" placeholder="e.g., blah.org">
    <button type="submit">Gimme dat Short URL</button>
  </form>
</div>
<center>
  <img src='meow.jpg'>
</center>


