<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>COMMUNIST CAT COALITION</title>
</head>
<body>
  <div class="failed_login">
    No such user or bad password... press submit to create new user
  </div>

  <div class="login_area">

    <% unless @user %>
    <center>
      <form action="/login" method="POST">
        <input type="text" name="email" placeholder="Email Address">
        <input type="password" name="password" placeholder="Password">
        <button class="user_submit" type="submit">Communize!11one</button>
      </form>
    </center>
    <% else %>
    <div class="logged_in">
      Comrade: <%= @user.name %>
      <hr/>
      <form action="/logout" method="POST">
        <button type="submit">LogOUT</button>
      </form>
    </div>
    <% end %>
    
    <header>
      <h1><a href="http://localhost:9393">Welcome to Chairman Meow's URL Communiser!!</a></h1>
      <p>Great Leader Meow!</p>
    </header>
    <%= yield %>
    <center>
      <img src='http://localhost:9393/meow.jpg'>
    </center>
  </body>
  </html>
