<div class='container'>
  <% if @user %>
    <h1>Hello <%= @user.name %></h1>
    <p>Thank you for logging in.  You will be redirected to the home page</p>
  <% else %>
    =/ No such User
  <% end %>

</div>
