<div class="container">
  <h1>F*ck the police. maybe</h1>
  <p><a href="http://localhost:9393/r/<%= @display_url %>">http://www.mao.com/<%= @display_url%></a></p><br/>
  <p>The URL you entered was <span id="full_url"><%= @original_url %>
  </span></p>
  <span id="count">This link has been clicked <%= @count %> times.  Crazy.</span>
</div>

